
.container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    height: 100%;
  }

  .header-row {
    background-color: rgb(167, 106, 106);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    
  }
 

  .header-row .box {
    padding: 2px;
  }

  .header-row li {
    display: inline;
    padding: 5px;
    font-size: larger;
  }

  .header-row a {
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  
  .header-row  {
    text-decoration: underline;
  }

  .row {
    padding: 50px;
    height: 55%;
    background-image: url("http://ts2.mm.bing.net/th?id=OIP.3mERxqPgQkkaKco8jP7nQwHaE8&pid=15.1");
  }

  .row .box {
    padding: 10px;
    margin: 5px;
  }

  .footer {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: large;
  }
  .img{
    border-radius: 50%;
    width: 300px;
  }

  button a{
    background-color: teal;
    padding: 10px;
    color: white;
    border:red;
    border-radius: 10%;
    box-shadow: grey;
  }
  .box3{
    border: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    transition-property: transform;
    transition-duration: 0.5s;
    width: 5000px;
    height: 200px;
  }
  .box3:hover{
    transform: scale(1.2,1.2);
  }
  button:hover{
    transform: scale(1.2,1.2);
  }
  h1{
    color: darkslategray;
  }
  .present{
    display: flex;
    margin: auto;
    padding: 20px;
  }
